@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #3f68ab;
    --light-color: #f0f3f2;
    --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
    --font-family: 'Encode Sans Expanded', sans-serif;
    --rating-color: #ffc908;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.4s;
}

a:hover {
    color: var(--main-color);
}

.rating-color {
    color: var(--rating-color);
}

.product:hover {
    box-shadow: var(--shadow);
}

.product .btn {
    transition: transform 1s, opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}

.product:hover .btn {
    opacity: 1;
    transform: translateY(0%);

}

.font-sm {
    font-size: 14px;
}

.text-main {
    color: var(--main-color);
}

.text-main-light {
    color: var(--light-color);
}

.bg-main {
    background-color: var(--main-color) !important;
}

.bg-main-light {
    background-color: var(--light-color) !important;
}


h1 {
    font-size: 3.2em;
    line-height: 1.2;
}

h2 {
    font-size: 2em;
    line-height: 1.2;
}

button {
    @apply px-3.5 py-1.5 mx-1 my-2 rounded-lg bg-blue-500 text-white hover:bg-blue-600 focus:ring-2 focus:ring-blue-700;

}

.active {
    color: var(--main-color);

}

.slick-next {
    right: 0%;
    color: gray;
}

.slick-prev {
    left: 10px;
    color: gray;
    z-index: 100;
}